.aboutHome {
    height: auto;
  }
  .aboutHome #heading {
    text-align: left;
    padding: 0;
  }
  .aboutHome .left img {
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  .aboutHome .right {
    padding: 90px 50px;
  }
  .aboutHome .items {
    margin-top: 50px;
  }
  .aboutHome .item {
    background-color: #FFF;
    margin-top: 30px;
    padding: 10px;
    transition: 0.5s;
    
  }
  .aboutHome .img {
    width: 150px;
  }
  .aboutHome img {
    width: 70px;
    height: 70px;
  }
  .aboutHome .item h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .aboutHome .item p {
    color: #999999;
  }
  .aboutHome .item:hover {
    background-color: #B2B4D6;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
  }
  .aboutHome .item:hover p {
    color: #fff;
  }
  /* .awrapper {
    /* background-image: url("../../../public/images/bar-graph-statistics-analysis-business-concept.jpg"); */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;
    color: #000;
  }
  .awrapper .box {
    padding: 70px 0;
  }
  .awrapper img {
    margin-right: 30px;
  }
  .awrapper h1 {
    font-size: 40px;
  }
  .awrapper h3 {
    font-size: 20px;
    font-weight: 500;
  } */
  .countup_contain {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: #2C3C44; */
}

.counters {
    display: block;
}
.counter-container {
  display: flex;
  justify-content: center;
  gap: 10rem;
  height: auto;
  width: 100%;
}

.headerText {
  font-size: 32px;
  position: relative;
  font-weight: 400;
  letter-spacing: 0.2ch;
}
  /*----------awrapper------------*/
  @media screen and (max-width: 768px) {
    .aboutHome{
      margin-top: 80%;
    }
    .aboutHome .container {
      flex-direction: column-reverse;
    }
    .aboutHome .row {
      width: 100%;
    }
    .awrapper {
      height: 50vh;
    }
  }