.count_up{
    font-size: 3.5rem;
    font-weight: lighter;
    color: #7a5d85;
}
.count_contain{
    height: 8rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between
    
}
.count_label{
    text-align: center;
    font-weight: lighter;
    letter-spacing: 4px;
    color: rgb(102, 187, 176);
}
/* small screems */
@media  (max-width:1024px){
    .count_up{
        font-size: 3rem;
    }  
}
/* ipad and tablet */
@media  (max-width:768px){
    .count_up{
        font-size: 2.5rem;
    }
}
/* Mobile */
@media  (max-width:480px){
    .count_up{
        font-size: 2rem;
    }
}